<router-outlet></router-outlet>

<footer class="page-footer font-small blue pt-4 topfooter">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6">

        <h5 class="text-uppercase">Sm Analytic</h5>

        <div class="foot-info">
          70 The Pond Rd
        </div>

        <div class="foot-info">
          North York, ON M3J 3M6
        </div>

        <div class="foot-info">
          Email: <a href="mailto:smanalyticjmv@gmail.co?Subject=Hello" target="_top">smanalyticjmv@gmail.com</a>
        </div>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">References</h5>

        <ul class="list-unstyled">

          <li>
            <a href="http://www.freepik.com">Free pik credits</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 endfooter">
    <a href="http://www.senecacollege.ca/home.html">2019 Group #2 ( Julia McGeoghan, Vladimir Rozin, Manuel Fernandez Rodriguez )</a>
  </div>
</footer>
