@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }

}

.endfooter {
  background-color: #212121;
  margin-top: 22px;
}

.topfooter {
  background-color: #2E2E2E;
}

h5 {
  color: white;
}

.foot-info {
  color: white;
  padding: 1px;
}

p {
  color: white;
}

a {
  color: white;
}

block-foot-info{
  padding-top:20px;
}
