<div class="page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
          <h2>Overview</h2>
          <hr>
      </div>  
    </div>  
    <div class="row charts">
      <app-bar class="col-md"></app-bar>
      <app-bar class="col-md"></app-bar>
    </div>
    <div class="row charts">
      <app-bar class="col-md"></app-bar>
    </div>
    <div class="row charts">
      <app-bar class="col-md"></app-bar>
      <app-bar class="col-md"></app-bar>
      <app-bar class="col-md"></app-bar>
    </div>
  </div>
</div>
  