<div class="page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md">
        <h2>Trends</h2>
        <hr>
      </div>
    </div>

    <div class="row charts">

      <div class="col-md-4">
        <app-base-chart [title]="mostCommonUserHashtags.title"
                        [subTitle]="mostCommonUserHashtags.subTitle"
                        [chartLabels]="mostCommonUserHashtags.chartLabels"
                        [chartData]="mostCommonUserHashtags.chartData"
                        [chartType]="'doughnut'">
        </app-base-chart>
      </div>

      <div class="col-md-8">
        <app-base-chart [title]="publicPostsWithHashtags.title"
                        [subTitle]="publicPostsWithHashtags.subTitle"
                        [chartLabels]="publicPostsWithHashtags.chartLabels"
                        [chartData]="publicPostsWithHashtags.chartData"
                        [chartType]="'bar'"
                        [chartLegend]="false">
        </app-base-chart>
      </div>

    </div>

  </div>
  </div>
