.landing {
  //max-width: 100%;
  .content {

    .image {
      height: 500px;
      width: 100%;
      object-fit: contain;
    }

    .description {
      padding: 50px 175px 0px 175px;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
      }

      .card-img {
        width: 150px;
        object-fit: cover;
        padding-bottom: 50px;
        padding-top: 30px;
      }
    }

    .faq {
      background-color: #FEB22B;
      padding: 50px 200px 100px 200px;

      .faq-header {
        margin-bottom: 40px;
      }

      .faq-item {
        opacity: 0.8;
        margin-bottom: 10px;
      }
    }
  }
}
