.landing {
  //max-width: 100%;

  .content {

    .image {
      height: 500px;
      width: 100%;
      object-fit: contain;
    }

    .description {
      padding: 50px;
      //height: 1050px;
      max-width: 100%;

      .info {
        margin: 1px;
        //height: 200px;
        //padding-bottom: 40px;
      }

      .card-img {
        width: 240px;
        padding-left: 50px;
        object-fit: cover;
        padding-bottom: 50px;
        padding-top: 20px;
        //margin: 0 auto;
        //text-align: center;
        //display: inline-block;
      }
    }
  }
}
