.landing {

    height: 100%;

    .content {

        .image {
            height: 500px;
            width: 100%;
            object-fit: none;
        }

        .description {

            padding: 50px;
            height: 100%;

            .info {
                margin: 0px;
                height: 200px;
            }

        }

    }

}
