
<div class="landing">

  <app-navbar></app-navbar>

  <div class="container-fluid content">
    <div class="row">
      <img src="../../../assets/img/landing_main.png" class="image" alt="image">
    </div>

    <div class="row description">
      <div class="col-sm info">
        <h5>Trend Analysis</h5>
        <h6>Trend Analysis helps you identify what are the best posts of your account and how popular they are. In addition, our feature allows you to get an accurate and updated perspective of how your customers see your brand or product.</h6>
        <img class="card-img" src="../../../assets/img/trend.png" />
      </div>

      <div class="col-sm info">
        <h5>Sentiment Analysis</h5>
        <h6>Our sentiment analysis feature will help you know the overall sentiment of your customers towards your product or campaing in social media. It also provides a helpful overview of the latest posts in which your brand or product is being mentioned.</h6>
        <img class="card-img" src="../../../assets/img/sent.png" />
      </div>

      <div class="col-sm info">
        <h5>Social Engagement Analysis</h5>
        <h6>Social engagement analysis helps you in measuring the overall interaction that your customers have with your product or service through social media. It also provides a visual easy-to-read a statistic board.</h6>
        <img class="card-img" src="../../../assets/img/eng.png" />
      </div>
    </div>

    <div class="row faq">
      <div class="col-lg">
        <div class="text-center faq-header">
          <h5>Frequently Asked Questions</h5>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>Do I need a Twitter account?</strong></div>
            <div>Yes, in order to use our services you must have a valid and active Twitter account.</div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>How do I log in to Twitter from the app?</strong></div>
            <div>
              After you log into this app, you will be prompted to authenticate your Twitter account.
            </div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>Can I use this app's analysis tools on a newly created account?</strong></div>
            <div>
              Yes, as long as the Twitter account contains data to be analyzed. For example, posts, comments, and likes.
            </div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>For how long is my analyzed data retained?</strong></div>
            <div>
              Social Media Analytics does not retain data. The analyzed content is private and will be deleted once your session is over.
            </div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>Can I use multiple Twitter accounts simultaneously?</strong></div>
            <div>
              No, you can only use one Twitter account. If you would like to use another account, logout from your current Twitter account and use new credentials.
            </div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>Can I download my analyzed data?</strong></div>
            <div>
              No, the content shown in this application is read-only and never stored.
            </div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>Can I share my results with 3rd party applications?</strong></div>
            <div>
              No, downloading and distributing the analyzed data to third party applications goes against our policies.
            </div>
          </div>
        </div>

        <div class="card faq-item">
          <div class="card-body">
            <div><strong>Is this service free?</strong></div>
            <div>
              Yes, our service is completely free of charge.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  </div>
