
<div class="landing">

  <app-navbar></app-navbar>

  <div class="container-fluid content">
    <div class="row ">
      <img src="../../../assets/img/" class="image" alt="image">
    </div>
    <div class="row description">

      <div class="col-sm info">
        <app-info-card 
          image="../../../assets/img/tmp.jpg">
        </app-info-card>
      </div>

      <div class="col-sm info">
        <app-info-card 
          image="../../../assets/img/tmp.jpg">
        </app-info-card>
      </div>

        <div class="col-sm info">
          <app-info-card 
            image="../../../assets/img/tmp.jpg">
          </app-info-card>
        </div>
  
    </div>
  </div>

</div>
