
<div class="landing">

  <app-navbar></app-navbar>

  <div class="container-fluid content">
    <div class="row">
      <img src="../../../assets/img/landing_main.png" class="image" alt="image">
    </div>

    <div class="row description">
      <div class="col-sm info">
          <h5>Trend Analysis</h5>
          <h6>Trend Analysis helps you identify what are the best posts of your account and how popular they are. In addition, our feature allows you to get an accurate and updated perspective of how your customers see your brand or product.</h6>
        <img class="card-img" src="../../../assets/img/trend.png" />
      </div>

      <div class="col-sm info">
          <h5>Sentiment Analysis</h5>
          <h6>Our sentiment analysis feature will help you know the overall sentiment of your customers towards your product or campaing in social media. It also provides a helpful overview of the latest posts in which your brand or product is being mentioned.</h6>
        <img class="card-img" src="../../../assets/img/sent.png" />
      </div>

      <div class="col-sm info">
          <h5>Social Engagement Analysis</h5>
          <h6>Social engagement analysis helps you in measuring the overall interaction that your customers have with your product or service through social media. It also provides a visual easy-to-read a statistic board.</h6>
          <img class="card-img" src="../../../assets/img/eng.png" />
        </div>
    </div>
  </div>
</div>
