<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
</div>
<div class="modal-body">
  <p>To get started, authorize our app to use one of the following:</p>
  <div class="content">
    <button (click)="twitterAuth()" type="button" class="btn btn-primary">Login with Twitter</button>
    <button type="button" class="btn btn-secondary" disabled>Login with Facebook</button>
    <button type="button" class="btn btn-secondary" disabled>Login with Instagram</button>
  </div>
</div>
