<div class="register">
    <h1>Social Media Analytics</h1>
    <h5>Please complete the form below to create your account.</h5>

    <form #f="ngForm" novalidate (ngSubmit)="register(f)">
      <div class="input">
          <h6>First Name:</h6>
          <input type="text" class="form-control" id="first-name" name="FirstName" required tmFocus ngModel>
      </div>
      <div class="input">
          <h6>Last Name:</h6>
          <input type="text" class="form-control" id="last-name" name="LastName" required ngModel>
      </div>
      <div class="input">
          <h6>Date of Birth:</h6>
          <input type="date" class="form-control" id="dob" name="DOB" required ngModel>
      </div>
      <div class="input">
          <h6>Email:</h6>
          <input type="text" class="form-control" id="email" name="Email" validateEmail required #email="ngModel" ngModel>
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
      </div>
      <div class="input">
          <h6>Password:</h6>
          <input type="password" class="form-control" id="password" name="Password" required ngModel>
      </div>
      <div class="input">
          <h6>Confirm Password:</h6>
          <input type="password" class="form-control" id="confirm-password" name="PasswordConfirm" required ngModel>
      </div>

      <label class="forgot-password-link" (click)="login()">Already have an account? Click here to login.</label>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid || isBusy">REGISTER</button>
    </form>
    
o  </div>
