.register {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .h1 {
    margin: 20px;
  }

  .form {
    padding-top: 50px;
  }

  .input {
    display: flex;
    margin-bottom: 5px;

    h6 {
      width: 300px;
    }

    input {
      width: 100%;
    }
  }

  .inline {
    width: 100%;
    display: flex;
    justify-content: center;

    .form-check {
      width: 50%;
    }

    .forgot-password-link {
      width: 50%;
      text-align: right;
    }
  }

  button {
    margin: 30px 5px 20px 0px;
  }
}
