.dashboard {

    background-color:#E8E8E8;
    padding: 0px;
    height: 1300px;
    display: flex;
    z-index: 0;

    .sidebar {
        flex: 1;
    }

    .content {
        flex: 4;
    }

}


.blur {
  filter: blur(5px);
}
