.side-nav {

    height: 100%;
    padding: 30px;
    background-image: linear-gradient(#43cea2, #185a9d);
    display: flex;
    flex-direction: column;
    color: white;

    h6 {
        margin-bottom: 20px;
    }

}