<div class="tweet-list card shadow-sm">

  <div class="card-header bg-transparent text-center">
    <h5 class="card-title">{{title}}</h5>
    <small class="card-subtitle text-muted">{{subTitle}}</small>
  </div>

  <blockquote class="twitter-tweet" data-lang="en">
    <div class="card-body">
      <p lang="en" dir="ltr">just setting up my twttr</p>
      <a href="https://twitter.com/jack/status/20">March 21, 2006</a>
    </div>
  </blockquote>

  <blockquote class="twitter-tweet" data-lang="en">
    <div class="card-body">
      <p lang="en" dir="ltr">just setting up my twttr</p>
      <a href="https://twitter.com/jack/status/20">March 21, 2006</a>
    </div>
  </blockquote>

  <blockquote class="twitter-tweet" data-lang="en">
    <div class="card-body">
      <p lang="en" dir="ltr">just setting up my twttr</p>
      <a href="https://twitter.com/jack/status/20">March 21, 2006</a>
    </div>
  </blockquote>

</div>
