<div class="tweet-list ">

  <div class="title card text-center">
    <div class="card-body">
      <h5 class="">{{title}}</h5>
      <small class="card-subtitle text-muted">{{subTitle}}</small>
    </div>
  </div>

  <div class="card">
    <div class="twitter-tweet" *ngFor="let tweet of tweets">
      <div class="text card-body">
        <h6>
          {{tweet.text}}
        </h6>
        <small class="text-muted">
          - {{tweet.user}}@({{tweet.handle}}) <a href="{{tweet.link}}">{{tweet.date}}</a>
        </small>
      </div>
      <div class="score">
        <h4 class="number ">{{tweet.score}}</h4>
      </div>
      <hr />
    </div>
    
  </div>

</div>
