.auth {
    
    height:100%;
    display: flex;

    .image {
        width: 50%;
        height: 100%;
        overflow: none;
        object-fit: none;
    }

    .content {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page {
    }
    
}