.auth {
    
    height:100%;

    .image {
        width: 50%;
        height: 100%;
        background-color: cyan;
        padding: 10px;
    }

    .content {
        width: 50%;
        height: 100%;
        background-color: lightgray;
        padding: 200px;
    }
    
}