<div class="card shadow border-0" style="min-height:300px;">
  <div *ngIf="hasData">
    <div class="card-header bg-transparent text-center">
      <h5 class="card-title">{{title}}</h5>
      <small class="card-subtitle text-muted">{{subTitle}}</small>
    </div>
    <div class="card-body">
      <canvas baseChart aspectRatio=4
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="chartLegend"
              [chartType]="chartType"></canvas>
    </div>
  </div>
</div>
