<div class="page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md">
        <h2>Followers</h2>
        <hr>
      </div>
    </div>

    <div class="row charts">

      <div class="col-md-8">

        <app-bar-chart [title]="engagementByDayData.title"
                       [subTitle]="engagementByDayData.subTitle"
                       [chartLabels]="engagementByDayData.chartLabels"
                       [chartData]="engagementByDayData.chartData">
        </app-bar-chart>

      </div>

      <div class="col-md-4">

        <app-line-area-chart [title]="engagementByHourData.title"
                             [subTitle]="engagementByHourData.subTitle"
                             [chartLabels]="engagementByHourData.chartLabels"
                             [chartData]="engagementByHourData.chartData">
        </app-line-area-chart>

      </div>

    </div>

    <div class="row charts">

      <div class="col-md-12">

        <app-bar-chart [title]="engagementByDayData.title"
                       [subTitle]="engagementByDayData.subTitle"
                       [chartLabels]="engagementByDayData.chartLabels"
                       [chartData]="engagementByDayData.chartData">
        </app-bar-chart>

      </div>

    </div>

  </div>
</div>
