.page {
    height: 100%;
    padding: 25px 50px 20px 50px;

    hr {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }

    .charts {
        margin-bottom: 25px;
    }

    .chart-gutter {
      margin-bottom: 20px;
    }

}
