.nav {
  background-color: white;
  display: flex;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

  .logo {
    padding-left: 50px;
    padding-top: 5px;
    width: 190px;
    height: 33px;
  }

  .links {
    flex: 4;
    display: flex;
    justify-content: flex-end;

    h6 {
      margin: 15px 15px 10px 10px;

      &:hover {
        color: grey;
      }
    }
  }
}
