.user-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }

    h6 {
        padding: 10px;
        font-weight: bold;
    }

}