<div class="page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <h2>Sentiment</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <app-base-chart class="col-8"
                      title="Overall Sentiment"
                      subTitle="Displays overall sentiment for all mentions including you."
                      errorMessage="API Service Unavailable"></app-base-chart>
      <app-base-chart class="col-4"
                      title="Post Sentiment"
                      subTitle="Displays sentiment on posts mentioning you."
                      errorMessage="API Service Unavailable"></app-base-chart>
      </div>
    </div>
  </div>
