<div class="login">
  <h1>Social Media Analytics</h1>
  <h5>Welcome back! Please login to your account.</h5>
  <div class="form">
    <div class="input">
        <h6>Username:</h6>
        <input type="text">
    </div>
    <div class="input">
        <h6>Password:</h6>
        <input type="text">
    </div>

    <div class="inline">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <label class="forgot-password-link" (click)="resetPassword()">Forgot Password</label>
      </div>
      
  </div>

  <button type="button" class="btn btn-primary" (click)="login()">LOGIN</button>
</div>
