<div class="login">
  <h1>Social Media Analytics</h1>

  <div *ngIf="newUser" class="alert alert-success" role="alert">
    <strong>The account has been created!</strong>
  </div>

  <h5>Please login to your account.</h5>

  <form #f="ngForm" novalidate (ngSubmit)="f.form.valid && login(f)">

    <div class="input">
      <div class="form-group">
        <h6>Email:</h6>
        <input type="email" id="email" name="Email" required class="form-control" [ngModel]="credentials.Email" #Email="ngModel" tmFocus validateEmail [ngClass]="{ 'is-invalid': f.submitted && Email.invalid }">
        <div *ngIf="f.submitted && Email.invalid" class="invalid-feedback">
          <div *ngIf="Email.errors.required">Email is required</div>
          <div *ngIf="Email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="form-group">
        <h6>Password:</h6>
        <input type="password" id="password" name="Password" minlength="6" required class="form-control" ngModel #Password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Password.invalid }"  title="Password must contain upper- and lower-case letters, and at least one digit. It cannot be shorter than 6 characters">
        <div *ngIf="f.submitted && Password.invalid" class="invalid-feedback">
          <div *ngIf="Password.errors.required">Password is required</div>
          <div *ngIf="Password.errors.minlength">Password must be at least 6 characters long</div>
        </div>
      </div>
    </div>

    <div *ngIf="errors" class="alert alert-danger" role="alert">
      <strong>Seems like we have some errors with logging in</strong> <!--{{errors}}-->
    </div>

    <div class="inline">
      <button type="submit" class="btn btn-primary" [disabled]="isBusy">Login</button>
      <button class="forgot-password-link btn btn-primary" (click)="resetPassword()">Forgot Password</button>
    </div>

  </form>
</div>
