<div class="login">
  <h1>Social Media Analytics</h1>

  <div *ngIf="newUser" class="alert alert-success" role="alert">
    <strong>The account has been created!</strong>
  </div>

  <h5>Please login to your account.</h5>

  <form #f="ngForm" novalidate (ngSubmit)="login(f)">

    <div class="input">
      <h6>Email:</h6>
      <input type="email" id="email" name="Email" required class="form-control" [ngModel]="credentials.Email" #email="ngModel" tmFocus validateEmail>
    </div>

    <div class="input">
      <h6>Password:</h6>
      <input type="password" id="password" name="Password" required class="form-control" ngModel>
    </div>

    <div *ngIf="errors" class="alert alert-danger" role="alert">
      <strong>Seems like we have some errors with logging in</strong> <!--{{errors}}-->
    </div>

    <div class="inline">
      <button class="forgot-password-link, btn-primary" (click)="resetPassword()">Forgot Password</button>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isBusy">LOGIN</button>
    </div>

  </form>
</div>
