<div class="page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md">
        <h2>Profile</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-sm border-0">
          <div class="card-header">
            <h5>You can edit your profile in this section.</h5>
            <h6>Please make sure to save your changes before leaving.</h6>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary btn-block" (click)="updateUser()">SAVE</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
