<div class="page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md">
        <h2>FAQ</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-sm border-0">
          <div class="card-body faq">
            <ul>

            <li><h6>1. Do I need a Twitter account?</h6></li>
            <p>Yes, in order to use our services you must have a valid and active Twitter account.</p>

            <li><h6>2. How do I log in to Twitter from the app?</h6></li>
            <p>After you log into this app, you will be prompted to authenticate your Twitter account.</p>

            <li><h6>3. Can I use this app's analysis tools on a newly created account?</h6></li>
            <p>Yes, as long as the Twitter account contains data to be analyzed. For example, posts, comments, and likes.</p>

            <li><h6>4. For how long is my analyzed data retained?</h6></li>
            <p>Social Media Analytics does not retain data. The analyzed content is private and will be deleted once your session is over.</p>

            <li><h6>5. Can I use multiple Twitter accounts simultaneously? </h6></li>
            <p>No, you can only use one Twitter account. If you would like to use another account, logout from your current Twitter account and use new credentials.</p>

            <li><h6>6. Can I download my analyzed data?</h6></li>
            <p>No, the content shown in this application is read-only and never stored.</p>

            <li><h6>7. Can I share my results with 3rd party applications? </h6></li>
            <p>No, downloading and distributing the analyzed data to third party applications goes against our policies.</p>

            <li><h6>8. Is this service free?</h6></li>
            <p>Yes, our service is completely free of charges.</p>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
