<div class="page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <h2>FAQs</h2>
        <hr>
        <div class="container">
            <div class="col-xs-12" id="faq" style="background-color:white;">
              <br><br>
                  <ul>
                    <li><h6>Do I need a Twitter account?</h6></li>
                    <p>Yes, in order to use our services you must have a valid and active Twitter account.</p>

                    <li><h6>How to login into Twitter?</h6></li>
                    <p>Right-click on the 'Login with Twitter' button, located on the left side menu and login using your Twitter credentials.</p>

                    <li><h6>Can I use the tools on a newly created account?</h6></li>
                    <p>Yes, as long as the Twitter account contains data to be analyzed. For example, posts, comments, and likes.</p>

                    <li><h6>For how long does my analyzed data is retained?</h6></li>
                    <p>Social Media Analytics does not retain data. The analyzed content is private and will be deleted once your session is over.</p>

                    <li><h6>Can I use multiple Twitter accounts simultaneously? </h6></li>
                    <p>No, you can only use one Twitter account simultaneosly. If you would like to use another account, logout from your current Twitter account and use new credentials.</p>

                    <li><h6>Can I download my analyzed data?</h6></li>
                    <p>No, the content shown in this application is for reviewing exclusively.</p>

                    <li><h6>Can I share my results with 3rd party applications? </h6></li>
                    <p>No, downloading and distributing the analyzed data to third party applications goes against our policies.</p>

                    <li><h6>Is the service free?</h6></li>
                    <p>Yes, our service is completelly free of charges.</p>
                  </ul>
              <br>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
