.page {
  height: 100%;
  padding: 25px 50px 20px 50px;

  hr {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style-type: none;
    li {
      padding: 10px 0px 10px 0px;
    }
  }
}
